/*
Colors used

Text Color (Dark Gray): #444444;
Primary Color (Eucaliptus Green): #9fad9a;
Darker primary color (Eucalitpus green): #465d42;
Lighter primary color (Eucalitpus green): #ecefeb/#c0cebc;
Secondary Color (Orange): #F08308;
 */

body {
  font-family: 'Mulish', sans-serif;
  font-weight: 200;
  font-size: 18px;
  color: #444;
  line-height: 1.3;
}

h1 {
  font-size: 30px;
  font-weight: 600;
}

h2 {
  font-size: 24px;
  font-weight: 600;
}

h3 {
  font-size: 18px;
  font-weight: 600;
}

a {
  text-decoration: none;
  color: #444;
  position: relative;
}

a:visited {
  color: #444;
}

a::before {
  content: '';
  background-color: #c0cebc;
  opacity: 80%;
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  bottom: 0;
  z-index: -1;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

a:hover::before {
  height: 100%;
}

a:active {
  color: #444;
}

button {
  border: none;
  display: inline-block;
  font-family: inherit;
  font-weight: 400;
  background-color: #9fad9a;
  color: #fff !important;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  -webkit-transition: all 60s ease-in-out;
  -o-transition: all 60s ease-in-out;
  transition: all 60s ease-in-out;
  -webkit-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}

.button {
  border: none;
  display: inline-block;
  font-family: inherit;
  font-weight: 400;
  background-color: #9fad9a;
  color: #fff !important;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  -webkit-transition: all 60s ease-in-out;
  -o-transition: all 60s ease-in-out;
  transition: all 60s ease-in-out;
  -webkit-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  cursor: pointer;
  opacity: 0.8;
}

a.button::before {
  -webkit-transition-duration: 0.2s;
       -o-transition-duration: 0.2s;
          transition-duration: 0.2s;
  -webkit-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}

textarea {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
}

input {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: solid;
  border-color: #9fad9a;
}

[type="checkbox"] {
  position: relative;
  left: 15px;
  top: -4px;
  z-index: 0;
  -webkit-appearance: none;
}

[type="checkbox"] + label {
  position: absolute;
}

[type="checkbox"] + label::before {
  width: 15px;
  height: 15px;
  border-radius: 3px;
  border: 2px solid #9fad9a;
  background-color: #fff;
  display: block;
  content: "";
  float: left;
  margin-right: 5px;
  z-index: 5;
  position: relative;
}

[type="checkbox"]:checked+label::before {
  box-shadow: inset 0px 0px 0px 3px #fff;
  background-color: #9fad9a;
}

.no-outline:focus {
  outline: none;
}

.cursive {
  font-family: 'Grape Nuts', cursive !important;
}

.big {
  font-size: 28px;
  line-height: 2;
}

.small {
  font-size: 1.2em;
}

.mainBody{
  max-width: 500px;
  margin: 0 auto;
  padding: 5%;
}

.column {
  -webkit-flex-direction: column; 
  flex-direction: column; 
  float: center;
}

.flex-item {
  text-align: center;
}

.border{
  background-color: #ecefeb;
}

.profile-photo {
  float: left;
  height: auto;
  width: 250px;
  margin-right: 40px;
  border-radius: 5%;
}

.page-footer {
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.profile {
  max-width: 700px;
  margin: 0 auto;
}

.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
}

.page-header__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 200px;
          flex: 0 1 200px;
}

.page-header__item:last-child {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: right;
}

.navigation-list {
  list-style-type: none;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  margin: 0 auto;
  padding: 3%;
}

.grid__item {
  background-color: rgba(236, 239, 235, .4);
  padding: 10px;
  font-size: 90%;
}

.grid__item img {
  height: auto;
  width: 100%;
}

.grid__item h2 {
  background-image: linear-gradient(120deg, #c0cebc, #fff);
  background-position: bottom;
  background-size: 100% 30%;
  background-repeat: no-repeat;
}

.tech {
  background-color: #9fad9a;
  color: #fff;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 80%;
}

.button-work {
  background-color: #c0cebc;
  justify-items: center;
}

.live {
  color: red;
  font-size: large;
}


@media all and (max-width: 500px) {
  .grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}

@media all and (min-width: 500px) and (max-width: 750px) {
  .grid {
    -ms-grid-columns: 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr;
  }
}

@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }

  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }

  h1 {
    font-size: 22px;
  }
}

@-webkit-keyframes sun-rise {
  from {
    -webkit-transform: rotate(-35deg);
            transform: rotate(-35deg);
  }

  to {
    -webkit-transform: rotate(225deg);
            transform: rotate(225deg);
  }
}

@keyframes sun-rise {
  from {
    -webkit-transform: rotate(-35deg);
            transform: rotate(-35deg);
  }

  to {
    -webkit-transform: rotate(225deg);
            transform: rotate(225deg);
  }
}

.sun {
  -webkit-animation: sun-rise 15s infinite ease;
          animation: sun-rise 15s infinite ease;
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;

  /* transform-box: fill-box; */
}

@-webkit-keyframes wheel-spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes wheel-spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.wheel {
  -webkit-animation: wheel-spin 5s linear infinite;
          animation: wheel-spin 5s linear infinite;
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
  transform-box: fill-box;
}